body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: black;
    color: #FFF;
    font-family: Times, serif;
}

.well {
	background: #2f2f2f;
}

#bio {
	padding: 30px;
	margin: 20px;
	overflow: hidden;
}

#bio img {
	margin: 15px 15px 20px 25px;
	float: left;
	border-radius: 2px;
}

#bio p {
	margin: 20px;
}